.notification-content {
  position: absolute;
  top: 97px;
  right: 113px;
  border: 2px solid #c4c4c4;
  width: 300px;
  max-width: 300px;
  max-height: 400px;
  overflow-y: scroll;
  display: none;
  background-color: white;
  border-radius: 5px;
  z-index: 1000;
}

.notification-card {
  background-color: white;

  &:hover {
    background-color: rgba(255, 255, 255, 0.9);
    section {
      color: black;
    }
    .turbo-action {
      color: black;
    }
  }

  section {
    padding: 8px 8px 20px 8px;
    color: black;
    .time-ago {
      float: right;
    }
    .read {
      float: left;
      font-size: 10px;
    }
  }
  
}

.read_false {
  background-color: #17a2b8;
  section {
    color: white;
  }
  .turbo-action {
    color: white;
  }
}

.notification-actions {
  text-align: center;
  width: 100%;
  display: inline-block;
}

.notification-option-js {
  margin: 0px 20px;
  cursor: pointer;
}

.notification_count {
  display: table-caption;
  font-size: 15px;
}

.turbo-action {
  border: 0px;
  background-color: transparent;
}
